.secondContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }

  .informationMsg {
    align-items: start;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
    flex-direction: column;  
    justify-content: space-around;  
  }
  
  .text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: black;
    display: flex;
    align-items: flex-start;
    
  }

  .textMessage {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 300%;
    font-size: large;
    margin-right: auto;
    color: black;
    display: flex;
    align-items: flex-start;

  }

  .notFoundtext {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: black;
    height: 10px ;
    position: absolute;
    top: 30px;
    left: 50px;

  }

  .paragraph {
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    display: flex;
    align-items: flex-start; 
    }
    
  
  .copyright {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-small;
    opacity: 0.4;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
  }
  
  @media (min-width: 375px) {

    .informationMsg {
      align-items: flex-end;      
    }

    .notFoundtext {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: xx-small;
      color: black;
      height: 1px ;
      position: absolute;
      top: 5px;
      left: 20px;
  
    }

    .text {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: bold;
      font-size: small;
      color: black;
      display: flex;
      align-items: center;
      
    }
  
    .textMessage {
      font-family: Georgia, 'Times New Roman', Times, serif;
      line-height: 100%;
      font-size: x-small;
      margin-right: auto;
      color: black;
      display: flex;
      align-items: flex-start;
      flex-basis: calc(50% - 20px);
  
    }

    .img {
      max-width: 10%;
      height: auto;
      display: flex;
      justify-content: center;
      margin-top: 0;
      margin-left: 20px;
      text-align: left;
    }

    .paragraph {
      background-color: black;
      border: none;
      color: white;
      font-weight: bold;
      padding: 10px 10px;
      border: 1px solid #1A1A1A;
      border-radius: 15px;
      box-sizing: border-box;
      text-align: center;
      text-decoration: none;
      font-size: 8px;  
      display: flex;
      align-items: flex-start; 
      }
      

      .container {
        max-width: 60%;
        padding: 10px;
      }

      .secondContainer {
        max-width: 60%;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }    
    
  }
  
  @media (min-width: 600px) {

    .secondContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .container {
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
      }
    
      .informationMsg {
        align-items: start;
        
      }
      
      img {
        max-width: 70%;
        height: auto;
        flex-direction: column;  
        justify-content: space-around;  
      }
      
      .text {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        font-size: xx-large;
        color: black;
        display: flex;
        align-items: flex-start;
        
      }
    
      .textMessage {
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 150%;
        font-size: large;
        margin-right: auto;
        color: black;
        display: flex;
        align-items: flex-start;
    
      }
    
      .notFoundtext {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        color: black;
        height: 10px ;
        position: absolute;
        top: 30px;
        left: 50px;
    
      }
    
      .paragraph {
        background-color: black;
        border: none;
        color: white;
        font-weight: bold;
        padding: 15px 32px;
        border: 2px solid #1A1A1A;
        border-radius: 15px;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 11px;  
        display: flex;
        align-items: flex-start; 
        }
        
      
      .copyright {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: x-small;
        opacity: 0.4;
        align-items: center;
        justify-content: center;
        justify-content: flex-end;
      }
    
  }
  
